@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #008F90;
    --color-secondary: #EB5C5F;

    --color-danger: #D93030;
    --color-warning: #F88237;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.1em !important;
}